.container_orderD{
    width: 68%;
    /* color: black; */
    /* background-color: ; */
    /* color: white; */
    /* margin: auto; */
    height: 153px;
    border-radius: 10px;
    margin-bottom : 5px;
    margin-top: 5px;
    /* border: 2px solid black; */
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.container_orderC{
    width: 80%;
    margin: auto;
    height: 153px;
    border-radius: 10px;
    margin-bottom : 20px;
    margin-top: 20px;
    border: 2px solid black;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bolder;
    align-items: center;
}
.FullCa{
    width: 54%;
    /* margin-right: 32%; */
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom : 20px;
    margin-top: 20px;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bolder;
    align-items: center;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}
.order_id{
    display: inline-block;
    text-align: left;
    margin: 20px 20px 10px 20px;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.order_id-M{
    display: inline-block;
    text-align: left;
    margin: 20px 20px 10px 20px;
    font-size: 20px;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bolder;
}



.orderidcontainer-M{
    width: 100%;
    text-align: center;
}



/*Orderlistdetails   */
.orderdcafeimg{
    width:100px;
    height: 100px;
    margin: 20px 0px 20px 20px;
    border-radius: 25px;
}
.orderidcontainerCafeimg{
    /* width:100px; */
    /* background: white; */
    height: 139px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderidcontainerItemimg{
    /* width:100px; */
    height: 139px;
    width: 86%;
    display: flex;
    /* align-items: center; */

}

.order_item_name_q{
    margin: 0px 0px 10px 10px;
    text-align: left;
    width: 100%;
    /* margin: 20px 20px 10px 20px; */
    height: 32px;
    /* display: inline-block; */
    width: 86%;
    vertical-align: top;

}
.orderditemimg{
    /* width: 80px; */
    width:100px;
    height: 100px;
    margin: 20px 0px 20px 20px;
    border-radius: 25px;
    display: inline-block;
}

.c{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 108px;
    width: 86%;
    margin-top: 19px;
}
/* .dummyC{
    display: flex;
    flex-direction: column;
} */
.maincon{
    /* width: 80%; */
    display: flex;
    /* flex-direction: column; */
}
.total{
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 20px;
    width: 24%;
    height: 220px;
}
.totalsummary {
    display: flex;
    /* flex-direction: row; */
    /* justify-items: center; */
    /* text-align: center; */
    height: 30px;
    justify-content: center;
    width: 100%;
    margin-top: 14px;
}
.ids{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.x{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 18px;
}
.subtotal{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 18px;
}
.Maintotal{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 18px;
}
.jjk{
    display: flex;
    flex-direction: column;
}
.Title{
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: Geneva, Verdana, sans-serif;
}