.container_C
{   
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 203px 203px 203px 203px;
    /* row-gap: 30px; */
    column-gap: 10px;
    /* width: 80%; */
    margin: auto;
    /* gap: 40px; */
    gap: 88px;
    width: 80%;
    margin: auto;
    /* border: 2px solid black; */
}
.product{
    /* border: 2px solid black; */
    border-radius: 24px;
    width: 203px;
}
/* .product:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
} */

.title {
    padding: 7px 0px 4px 0px;
    font-size: 14px;
}
.cafenametext{
    text-align: center;
}
.desc p{ 
    font-family: sans-serif,Arial, Helvetica;
    color: #484e58;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    
}
/* cafe-desc {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.5s ease-in-out;
} */
.desc{
        
        padding: 7px 0px 4px 0px;
        font-size: 14px;
        display: -webkit-box;
    -webkit-line-clamp: 1;
}
.ratings{
    
        padding: 7px 0px 4px 0px;
        font-size: 14px;
}
h1{
    /* margin: 27px 0 42px 0; */
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding: 27px;
}

.img{
    height: 203px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 24px;
    /* width: 100px; */
    transition: transform 0.3s ease;
}
.product:hover .img {
    transform: scale(1.0); /*to scale up the image */
}
img{
    /* width: 100%; */
    width: 219px;
    height: 203px;
}

.nav-linkP {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent */
   }
/* .nav-linkP:hover {
    text-decoration: none; 
    color: inherit; 
   } */
.both{
    width: 203px;
    background: white;
    border-radius: 25px;
    height: 353px;
}
.both:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
    z-index: 1; /* Ensure hovered elements appear on top */
   
   }
   
.nav-linkP.active {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent */
   }

/* Media query for smaller screens */
/* @media (max-width: 768px) {
    .container_C {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .img {
        height: 200px; /* Adjust the height for smaller screens */
   /* }
}

/* Media query for very small screens */
/*@media (max-width: 480px) {
    .container_C {
        grid-template-columns: 1fr;
    }

    .img {
        height: 150px; /* Further adjust the height for very small screens */
   /* }
} */


/* @media (max-width: 768px) {
    .container_C {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .img {
        height: 200px;
        width: 200px;
    }
} */

/* Media query for very small screens */
/* @media (max-width: 480px) {
    .container_C {
        grid-template-columns: 1fr;
    }

    .product {
        flex-direction: column;
    }

    .img {
        height: 150px;
        width: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }
} */

/* @media (max-width: 768px) {
    .container_C {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .img {
        height: 200px;
        width: 200px;
    }
} */

/* Media query for very small screens */
/* @media (max-width: 480px) {
    .container_C {
        grid-template-columns: 1fr;
    }

    .product {
        display: inline;
        flex-direction: column;
    }

    .img {
        height: 150px;
        width: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }
} */