
.container_changepassword{
  display: flex;
  height: 537px;
}
.subbtn {
  background-color: white;
  /* color: white; */
  /* border: 1px solid black; */
  padding: 10px;
  /* border: none; */
  /* border-radius: 10px; */
  /* cursor: pointer; */
  /* transition: background-color 0.3s ease;  */
}

.subbtn button {
  width: 100%;
  background-color: rgb(24, 22, 22);
  color: white;
  border: 1px solid black;
  padding: 10px;
  /* border: none; */
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.subbtn button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}

.change-password-container {
    max-width: 450px; 
    /* height: 100%; */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .OTPcontainer{
      display: flex;
      flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .OTPitems{
    display: flex;
  }
  
  

  .OTPItem{
    margin: 5px;
    text-align: center;
    font-size: 25px;
  }

  .OTPbtn{
    margin: 20px 0 10px;
    width: 100%;
    color: white;
  background-color: black;
  border: 2px solid black;
  transition: 0.3s ease-in ;
  }
  .OTPbtn:hover{
    color:black;
  background-color: white;
  border: 2px solid black;
  transition: 0.3s ease-out ;
  }

 