.container-item {
    display: flex;
    background-color: white;
    flex-direction: column; /* Stack cafe details and menu cards vertically */
    align-items: center; /* Center items horizontally */
    margin: 10px auto; /* Center the container */
    padding-top: 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 100%; /* Adjust the width as needed */
    /* border: 1px solid black; */
}

.cafe-details {
    border: 1px solid black;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 112px;
    margin-bottom: 20px;
}
.cafe-logo{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
}
.cafelogoimg {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin-right: 10px;
    padding-top: 10px;

}

.cafe-name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.grp{
    display: flex;
    width: 1006px;
    height: 120px;
}
.item-img{
    display: flex;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 17px;
    margin-left: 10px;
}
.namec{
    display: inline-block;
}
.item_name{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.menu-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1271px;
    height: 152px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
/* .name_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
} */


.item-img img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 0px;
}



.item-name{
    text-align: left;
    display: block;
    width: 100%;
    height: 10px;
    /* justify-content: left;
    align-items: flex-start; */
}
.item-namep{
    text-align: top; 
    color: #333;
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.item-price{
    text-align: left;
    color: #333;
    font-weight: bold;
    margin-left: 5px;
}



.item-desc {
    text-align: left;
    height: 61px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}



.item-add-to-cart-btn {
    margin-left: auto;
}

.cart-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
}


.cart-controls span {
    font-size: 18px;
    font-weight: bold;
}

.button {
    background-color: #1b1f38; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   
   .button:hover {
    background-color: #cfd0d1;
    color: black;
   }

   

   .cafegrp {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%; /* Adjust the width as needed */
   }



.cnamelogo {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
   }
.group {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 94%; 
    padding: 20px 0; 
    height: 280px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
   }
   
.cafe-desc-p{
    height: 3em;
   }

.cafe-desc {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 15px;
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    transition: height 0.5s ease-in-out; 
}

.ctname{
    margin-top: 10px;
    /* margin: 20px 0px 20px 0px; */
    border: 1px solid black;
    border-radius: 0px;
}

.categoryname-p {
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* height: 26px; */
    justify-content: center;
    margin-bottom: 10px;    
}



