.container_registration{
  height: 1085px;
  display: flex;
  justify-content: center;

}
.registration-container {
    /* max-width: 450px; */
    height: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* margin-top: 100px; */
  }
 
  
  .registration-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 29px;
  }
  
  .OTPitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50x;
   }
.OTPitems label {
  font-size: 28px;
  /* font-weight:; */
}
  .error {
    color: red;
  }
  
  .registration-container form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-container label {
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .registration-container input,
  .registration-container select,
  .registration-container file {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registration-container button {
    background-color: black;
    color: #fff;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .custom-link {
    text-decoration: none;
    color: inherit;
    margin-left: auto;
  }
  
  .custom-link:hover {
    color: #007bff; 
  }
  
  
  .registration-container button:hover {
    background-color: white;
    color :black;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .registration-container span {
    margin-left: 10px;
  }
  
  
  .registration-container .account {
    text-align: center;
    margin-top: 15px;
  }
  
  label{
    font-size: 20px;
  }
  
 