.notification {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-size: 1.2em;
    animation: fadeIn 0.5s ease-in-out;
    width: 400px;
   }
   
   .green {
    background-color: black;
    color: white;
   }
   
   .red {
    background-color: #f44336;
    color: white;
   }

   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }