/* ForgotPassword.css */

/* Container styling */
.conatainer_forgetpassword{
  display: flex;
    height: 537px;
}
.conatainer_forgetpass{
  margin-top: 100px;
        height: 100%;
        margin-bottom: 100px;
}
.change-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 100px;
  }
  
  /* Heading styling */
  .change-password-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 11px;
  }
  .otpInput{
    text-align: center;
  }
  
  /* Error and Success message styling */
  .error-message,
  .success-message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .error-message {
    color: #d9534f; /* Red color for error messages */
  }
  
  .success-message {
    color: #5cb85c; /* Green color for success messages */
  }
  
  /* Form styling */
  .change-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input field styling */
  .change-password-container label {
    margin-bottom: 10px;
    color: #333;
  }
  
  .change-password-container input[type="text"],
  .change-password-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* OTP container styling */
  .OTPcontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .OTPItem {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* OTP button styling */
  .OTPbtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
    display: block;
  }
  
  .OTPbtn:hover {
    background-color: #0056b3;
  }
  
  /* Submit button styling */
.FPbtn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.FPbtn:hover {
  background-color: #0056b3;
}